@use "_var.scss"as *;
@use "_mixins.scss"as *;

.cta{
  margin-top: 60px;

    @include sm { 
        margin-top: 80px;
    } 
  
    &__inner{ 
      display: flex;
      padding: 20px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 10px;
      background: $Purple-bg;
  
      @include md { 
        border-radius: 20px;
        padding: 30px;
        gap: 30px;
      } 

      @include lg { 
        padding: 30px 80px;
        gap: 40px;
      } 
    }
  
    &__text{  
      margin: 0;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include md { 
        font-size: 40px;
      } 

      @include lg { 
        font-size: 51px;
      } 
    }
  }