@use "_var.scss"as *;
@use "_mixins.scss"as *;
 
.footer{
  margin: 100px 0 24px;

  &__inner{ 
    display: flex; 
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;

    @include md{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo{
    display: flex;
    justify-content: center;
  }

  &__logo-img{
    width: 22px;
    height: 22px; 

    @include md{
      width: 28px;
      height: 28px; 
    }
    
    @include lg{
      width: 42px;
      height: 42px; 
    }
  }

  &__logo-text{
    margin-left: 10px;
    font-size: 18px;

    @include md{
      font-size: 24px;
    }
    
    @include lg{
      margin-left: 20px;
      font-size: 37px;
    }
  }

  &__nav{
    @include md{
      margin: 0 20px 0 0;
    }
  }

  &__nav-list{ 
    @include reset-list;  
}

&__nav-item{ 
    white-space: nowrap;
    margin: 0 12px;
    text-align: center;
    display: inline-block; 
    
    @include lg { 
      margin: 0 8px;           
    } 
}

&__nav-link{   
    text-decoration: none;
    font-family: Acrom;
    font-size: 14px;

    &:hover{
      color: $Purple-hv;
      transition: 0.3s;
    }

    &:active{
      color: $Purple-dark;
      transition: 0.3s;
    }

    @include lg { 
        font-size: 16px;          
    }
}

  &__mini-inner{  
    margin-top: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 

    @include md { 
      margin: 0;
      flex-direction: row;
      justify-content: space-between;         
    }
  }

  &__link{
    margin-top: 14px;
    display: block;
    font-family: Acrom;
    color: $Grey;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.5%; 
    text-align: center;
    text-decoration-line: underline;

    @include md { 
      margin: 20px 0;        
    }

    @include lg { 
      margin: 16px 0;
      font-size: 16px;   
    }
  }
  
}
