@use "_var.scss"as *;
@use "_mixins.scss"as *;

.logo{
  text-decoration: none;
  display: flex; 
  
  &__img{
    width: 26px;
    height: 26px; 
    
    @include sm{
      width: 42px;
      height: 42px; 
    }
  }

  &__text{
    margin-left: 10px;
    font-size: 22px;
    
    @include sm{
      margin-left: 20px;
      font-size: 37px;
    }
  }
}