@use "_var.scss"as *;
@use "_mixins.scss"as *;

.main-nav{
    margin: 16px 0;

    @include burger { 
        padding: 0 20px; 
        margin: 0;
    } 
 
    &__list{ 
        @include reset-list;  
        text-align: start;
    }

    &__item{ 
        white-space: nowrap;
        margin: 26px 0;
        text-align: center;
        
        @include burger { 
            margin: 0 0 0 18px;
            display: inline-block; 
            text-align: left;            
        } 
    }

    &__link{   
        text-decoration: none;
        font-family: Acrom;
        font-size: 20px;

        &:hover{
            color: $Purple-hv;
            transition: 0.3s;
          }
      
          &:active{
            color: $Purple-dark;
            transition: 0.3s;
          }

        @include burger { 
            font-size: 16px;          
        }
    }
}