@mixin hover {
    @media (hover: hover) and (pointer: fine) {
      @content
    }
}
 
@mixin xl {
    @media screen and (min-width: 1030px) {
      @content
    }
}

@mixin lg {
    @media screen and (min-width: 850px) { 
      @content
    }
}

@mixin burger {
  @media screen and (min-width: 780px) { 
    @content
  }
}

@mixin md {
  @media screen and (min-width: 700px) {
    @content 
  }
}
  
@mixin sm {
  @media screen and (min-width: 550px) {
    @content
  }
}

@mixin l {
  @media screen and (min-width: 360px) {
    @content
  }
}

@mixin reset-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

  