@use "_var.scss"as *;
@use "_mixins.scss"as *;

.review{
    margin-top: 60px;

    @include sm { 
        margin-top: 80px;
    } 
    
    &__inner{
        padding: 0 15px;
        margin-top: 16px;
        display: flex;
        gap: 16px;
        overflow-x: auto;
        overflow: scroll;
        will-change: transform;
        scroll-snap-type: x mandatory;
        scroll-padding: 15px;
        
        &::-webkit-scrollbar {
            display: none; 
        }

        @include md { 
            padding: 24px 15px;
        } 
        
        @include lg { 
            margin-top: 20px;
            padding: 24px calc(15px + (50% - 510px));
            scroll-padding: calc(15px + (50% - 510px));
        } 
    }

    &__card{
        scroll-snap-align: start;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include md { 
            flex-direction: row-reverse;
            gap: 25px;
            width: auto;
        }
    }


    &__card-text{
        display: flex;
        margin: 15px 0;
        border-radius: 10px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        @include md { 
            border-radius: 20px;
            padding: 52px 23px;
            width: 290px;
            margin: 0;
        }

        @include lg { 
            padding: 56px 32px;
            width: 400px;
        }
    }

    &__card-text-green{
        position: relative;
        background: $Green-bg;

        &::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 26px;
            background: url(../images/quotes.png) center / cover;
            top: -15px;
            left: 20px;

            @include md { 
                width: 65px;
                height: 41px;
                left: 23px;
                top: -17px;
            }

            @include lg { 
                width: 90px;
                height: 57px;
                top: -18px;
                left: 32px;
            }
        }

        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 26px;
            background: url(../images/quotes.png) center / cover;
            bottom: -15px;
            right: 20px;
            transform: rotate(180deg);

            @include md { 
                width: 65px;
                height: 41px;
                right: 14px;
                bottom: -16px;
            }

            @include lg { 
                width: 90px;
                height: 57px;
                right: 32px;
            }
        }
    }

    &__card-text-yellow{
        position: relative;
        background: $Yellow-bg;

        &::before{
            content: "";
            position: absolute;
            width: 40px;
            height: 26px;
            background: url(../images/quotes_yellow.png) center / cover;
            top: -15px;
            left: 20px;

            @include md { 
                width: 65px;
                height: 41px;
                left: 23px;
                top: -17px;
            }

            @include lg { 
                width: 90px;
                height: 57px;
                top: -18px;
                left: 32px;
            }
        }

        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 26px;
            background: url(../images/quotes_yellow.png) center / cover;
            bottom: -15px;
            right: 20px;
            transform: rotate(180deg);

            @include md { 
                width: 65px;
                height: 41px;
                right: 14px;
                bottom: -16px;
            }

            @include lg { 
                width: 90px;
                height: 57px;
                right: 32px;
            }
        }
    }

    &__text{ 
        margin: 0 0 4px;
        font-family: Acrom;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;

        @include md { 
            margin: 0 0 8px;
            font-size: 14px;
        }

        @include lg { 
            margin: 0 0 10px;
            font-size: 16px;
        }
    }

    &__card-photo{
        display: flex;
        justify-content: space-between;
        gap: 16px;

        @include md { 
            flex-direction: column;
            gap: 25px;
        }
    }

    &__img{
        border-radius: 10px;
        width: 100px;
        height: 100px;
        
        @include l { 
            width: 156px;
            height: 156px;
        } 

        @include md { 
            border-radius: 20px;
            width: 290px;
            height: 280px;
        }

        @include lg { 
            width: 400px;
            height: 385px;
        }
    }

    &__img img {
        width: 100px;
        height: 100px;
        
        @include l { 
            width: 156px;
            height: 156px;
        } 

        @include md { 
            width: 290px;
            height: 280px;
        }

        @include lg { 
            width: 400px;
            height: 385px;
        }
    }


    &__card-link{
        width: 50%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        position: relative;
        padding: 10px;
        gap: 8px;
        border-radius: 10px;
        border: 1px solid $Purple;
        cursor: pointer;
        color: $Dark;
        color: $Purple;

        @include l { 
            width: 42%;
            padding: 16px 14px;
        }

        @include md { 
            padding: 20px 23px 46px;
            width: auto;
            border-radius: 20px;
        }

        @include lg { 
            padding: 32px 32px 44px;
        }

        &:hover {
            color: $Purple-hv;
            transition: 0.3s;
        }

        &:hover .review__icon-link path{
            fill: $Purple-hv;
            transition: 0.3s;
        }
        
        &:active{
            color: $Purple-dark;
            transition: 0.3s;
        }

        &:active .review__icon-link path{
            fill: $Purple-dark;
            transition: 0.3s;
        }
    }

    &__text-link{
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;

        @include l { 
            font-size: 20px;
        }

        @include md { 
            font-size: 32px;
        }

        @include lg { 
            font-size: 38px;
        }
    }

    &__name-link{
        display: block;
        font-size: 15px;
        line-height: normal;
        color: $Dark;

        @include md { 
            font-size: 20px;
        }

        @include lg { 
            font-size: 25px;
        }
    }

    &__icon-link{
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 15px;
        height: 15px;

        @include l { 
            bottom: 15px;
            right: 15px;
            width: 22px;
            height: 22px;
        }

        @include md { 
            bottom: 20px;
            right: 20px;
        }

        @include lg { 
            width: 32px;
            height: 32px;
        }
    }

    &__btn{
        display: flex;
        justify-content: flex-end;
        gap: 24px;
    }

}