@use "_var.scss"as *;
@use "_mixins.scss"as *;

.multi-colored{
    &__purple{
        color: $Purple;
    }

    &__green{
        color: $Green;
    }

    &__yellow{
        color: $Yellow;
    }    
}

.title{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 97.5%; 

    @include sm { 
        font-size: 51px;
    } 
}