$Dark: #1C1B1F;
$Purple: #9069CD;
$Purple-hv: #8331DE;
$Green: #58A700;
$Yellow: #FDD231;
$Purple-bg: #F9F5FF;
$Green-bg: #F9FFF2;
$Yellow-bg: #FAF7EE;
$White: #FFFFFF; 
$Grey: #D9D9D9;

$light-grey: #7E8794;
$dark: #0F1113;
$black: #000;
$ExWhite: #FDFDFD;
$white: #fff;  
$bg: #18161b;
