$Dark: #1C1B1F;
$Purple: #9069CD;
$Purple-hv: #8331DE;
$Purple-dark: #4E099B;
$Purple-click: #300163;
$Green: #58A700;
$Yellow: #FDD231;
$Red: #FF6057;
$Purple-bg: #F9F5FF;
$Green-bg: #F9FFF2;
$Yellow-bg: #FAF7EE;
$White: #FFFFFF; 
$Grey: #D9D9D9;